.contact{
    background: radial-gradient(circle at 50% 50%, rgba(12, 22, 38, 0.2) 0%, rgba(12, 22, 38, 0.9) 100%);
}

.contact h2{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 50px;
    color: white;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.contact form{
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgba(18, 30, 49, 0.8);
    padding: 40px;
    border-radius: 20px;
    border: 1px solid rgba(56, 189, 248, 0.2);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

.contact input,
.contact textarea{
    padding: 18px;
    border: 2px solid rgba(56, 189, 248, 0.2);
    border-radius: 10px;
    background: rgba(12, 22, 38, 0.8);
    color: white;
    font-size: 1rem;
    transition: 0.3s;
}

.contact input:focus,
.contact textarea:focus{
    border-color: rgba(56, 189, 248, 0.7);
    box-shadow: 0 0 15px rgba(56, 189, 248, 0.3);
}

.contact textarea{
    min-height: 180px;
    resize: none;
}

.contact button{
    padding: 15px;
    background: linear-gradient(45deg, #38bdf8, #2a94bf);
    border: none;
    border-radius: 10px;
    color: #0c1626; /* Donkerblauwe tekst op knop */
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 10px;
    box-shadow: 0 0 15px rgba(56, 189, 248, 0.4);
}

.contact button:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 30px rgba(56, 189, 248, 0.8),
                0 0 60px rgba(56, 189, 248, 0.5);
}